.Agenda {

}

.AgendaParent {
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction:column;
  overflow:auto;
  height:100%;
}

.AgendaChild {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-grow:1;
  flex-grow: 1;
  flex-shrink: 0;

}

.Agendahead {
  background-color: '#e01939';
}

.agendaData {
  -webkit-flex-basis:0;
  flex-basis:0;
  -webkit-flex-grow:1;
  flex-grow: 1;
  padding:1%;
  margin-left: 2%;
  margin-right: 2%;
}

.agendaDataDate{
  -webkit-flex-basis:0;
  flex-basis:0;
  -webkit-flex-grow:2;
  flex-grow: 2;
  padding:1%;
  margin-left: 2%;
  margin-right: 2%;
  font-family: 'NeuzeitS-Book';
}

.agendaDataName{
  -webkit-flex-basis:0;
  flex-basis:0;
  -webkit-flex-grow:2;
  flex-grow: 2;
  padding:1%;
  margin-left: 2%;
  margin-right: 2%;
  font-family: 'CheltenhamBT-BoldHeadline';
}

.agendaDataInfo{
  -webkit-flex-basis:0;
  flex-basis:0;
  -webkit-flex-grow:4;
  flex-grow: 4;
  padding:1%;
  margin-left: 2%;
  margin-right: 2%;
  font-family: 'NeuzeitS-Book';
}

.agendaDataTime{
  -webkit-flex-basis:0;
  flex-basis:0;
  -webkit-flex-grow:2;
  flex-grow: 2;
  padding:1%;
  margin-left: 2%;
  margin-right: 2%;
  font-family: 'NeuzeitS-Book';
}




.hasHappened {
  background-color: '#e01939';
}


.futurLabel {
  color:#e01939;
  position:fixed;
  bottom:2%;
  right:34.5%;
  font-size: 0.9em;
  font-family: 'NeuzeitS-Book';
}

.currentLabel {
  color:white;
  position:fixed;
  top:13%;
  right:34.5%;
  font-size: 0.9em;
  font-family: 'NeuzeitS-Book';
}


@media only screen and (max-device-width: 500px) {
  .futurLabel {
    color:#e01939;
    position:fixed;
    bottom:2%;
    right:34.5%;
    visibility: hidden;
    font-size: 0.9em;
  }

  .currentLabel {
    color:white;
    position:fixed;
    top:13%;
    right:34.5%;
      visibility: hidden;
      font-size: 0.9em;
  }

}
