.Agenda {

}

.AgendaParent {
  display:flex;
  flex-direction:column;
  overflow:auto;
}

.AgendaChild {
  display:flex;
  flex-direction:row;

  flex-grow: 1;
}

.Agendahead {
  background-color: '#e01939';
}

.agendaData {
  flex-grow: 1;
  flex-basis:0;
  padding:1%;
  margin-left: 2%;
  margin-right: 2%;
}

.agendaDataDate{
  flex-grow: 2;
  flex-basis:0;
  padding:1%;
  margin-left: 2%;
  margin-right: 2%;
}

.agendaDataName{
  flex-grow: 2;
  flex-basis:0;
  padding:1%;
  margin-left: 2%;
  margin-right: 2%;
}

.agendaDataInfo{
  flex-grow: 4;
  flex-basis:0;
  padding:1%;
  margin-left: 2%;
  margin-right: 2%;
}

.agendaDataTime{
  flex-grow: 2;
  flex-basis:0;
  padding:1%;
  margin-left: 2%;
  margin-right: 2%;
}




.hasHappened {
  background-color: '#e01939';
}


.futurLabel {
  color:#e01939;
  position:fixed;
  bottom:2%;
  right:34.5%;
  font-size: 0.9em;
}

.currentLabel {
  color:white;
  position:fixed;
  top:13%;
  right:34.5%;
  font-size: 0.9em;
}


@media only screen and (max-device-width: 500px) {
  .futurLabel {
    color:#e01939;
    position:fixed;
    bottom:2%;
    right:34.5%;
    visibility: hidden;
    font-size: 0.9em;
  }

  .currentLabel {
    color:white;
    position:fixed;
    top:13%;
    right:34.5%;
      visibility: hidden;
      font-size: 0.9em;
  }

}
