.Agenda {

}

.AgendaParent {
  display:flex;
  flex-direction:column;
}

.AgendaChild {
  display:flex;
  flex-direction:row;

  flex-grow: 1;
}

.Agendahead {
  background-color: '#E6323D';
}

.agendaData {
  flex-grow: 1;
  padding:1%;
  margin-left: 2%;
  margin-right: 2%;
}

.hasHappened {
  background-color: '#E6323D';
}
