.spinning.glyphicon {
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@media all and (min-width: 480px) {
  .Signup {
    padding: 60px 0;
  }

  .Signup form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.Signup form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}

.Backend {
  overflow: scroll;
  height:100vh;
  position: relative;
  width:100%;
}

textarea.form-control {
  height:400px;
  width: 80vw;

}

.spaceBackend {
  padding:5%;
}

.updateSpaceLoader{
  width:100vw;
  height:300vh;
  /*background-color: #e01939;*/
  opacity:0.5;
  text-align: center;
  margin: 0 auto;
  position:absolute;
  top:0;
  left:0;
  /*z-index: 10;*/
  font-size: 20vw;

}

.updateSpaceLoader h1 {
  margin: 0 auto;
  font-size: 20vw;
}

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}
