.contactOverlay {
    background-color: #e01939;
    color:white;
    position: fixed;
    height: 100%;
    top: 0;
    width:34vw;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: -webkit-flex;
    display:flex;
    -webkit-flex-direction: column;
    flex-direction:column;
}


.closeButton {
    top:0;
    right:0;
    cursor:pointer;
    color: #fff;
    position: fixed;
    line-height: 0.5em;
    font-size: 3em;
    font-weight: 300;
      z-index: 5;
}

.closeButton:before {
    content: "×";
}


.contactText {
  font-family: 'NeuzeitS-BookHeavy';
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  /*flex-basis:0;*/
  /*flex-grow: 20;*/
  font-size:0.8em;

}

.parentText {
  font-family: 'CheltenhamBT-Roman';
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  /*flex-basis:0;*/
  /*flex-grow: 1;*/
    font-size:5em;



}

.contactTextBL{
  margin:2%;
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction:column;
}

.contactTextBR{
  margin:2%;
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction:column;
}

.contactBox{
  margin:2%;
}

.contactTextUL {

  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction:column;
  margin:5%;
  text-align: left;
  -webkit-flex:  1 0 0;
    flex: 1 0 0;
}

.contactTextUR {

  margin:5%;
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction:column;
  text-align: right;
-webkit-flex:  1 0 0;
  flex: 1 0 0;

}

.innerText{
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
