.Heading {
  font-family: 'NeuzeitS-Book';
    font-weight:300;
    font-size:3em;
    margin-top:0.6em;
    margin-bottom:0.4em;
}


@media (max-width: 800px) {

  .Heading {
      font-size:2em;
      margin-top:0.5em;
      margin-bottom:0.5em;
  }

}
