.LandingWhite {
  width:100vw;
  height:55%;
  background-color: white;
  z-index:205;
  line-height: 21vh;
  color:#2f3277;
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: row;
  flex-direction:row;
  padding-left:15vw;
  padding-right:15vw;
}

.LandingRed {
  width:100vw;
  height:45%;
  background-color: #e01939;
  z-index:205;
  line-height: 75vh;
  color: #0c0321;
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: row;
  flex-direction:row;
  padding-left:15vw;
  padding-right:15vw;
}

.Landing {
text-align: center;
height:100vh;
z-index:200;
font-family: 'CheltenhamBT-Roman';
font-size: 20vh;
}

.we {
  text-align: left;
  -webkit-flex-basis:0;
  flex-basis:0;
  -webkit-flex-grow:8;
  flex-grow: 8;
}

.run {
  text-align: right;
  -webkit-flex-basis:0;
  flex-basis:0;
  -webkit-flex-grow:8;
  flex-grow: 8;
}

.the {
  text-align: left;
  -webkit-flex-basis:0;
  flex-basis:0;
  -webkit-flex-grow:8;
  flex-grow: 8;
}

.space {
  text-align: right;
  -webkit-flex-basis:0;
  flex-basis:0;
  -webkit-flex-grow:8;
  flex-grow: 8;
}
