.Map {


  padding:50px;

}

.MapHead {

}


.mapElement{
  height: 100%;
  /*padding:2.5em;
  padding-bottom: 2.5em;
  padding-top:2.5em;*/
  font-family: 'NeuzeitS-Book';
}

.infowindow {
    font-family: 'CheltenhamBT-BoldHeadline';
}




@media only screen and (max-device-width: 500px) {

  .mapElement{


    padding-right: 1em;
  }


 }
