.pastEventsOverlay {
    background-color: #e01939;
    color:white;
    position: fixed;
    height: 100%;
    top: 0;
    width:30vw;
    right: 0;
    bottom: 0;
    display: -webkit-flex;
    display:flex;
    -webkit-flex-direction: column;
    flex-direction:column;
    overflow: hidden;
    z-index: 20;
}

.pastEventsDiv {

}

.pastEventsScroll{
    overflow: auto;
    height:85vh;
    position: relative;

}

.pastEvents {
  margin:1em;
  padding: 1em;
  overflow:auto;
  color:white;
}

.pastEvents > div {
  color:white;
}

.pastEvents > div:after {
      background: white;
}

.closeButton {

    top:0;
    right:0;
    cursor:pointer;
    color: #fff;
    position: fixed;
    line-height: 0.7em;

    font-size: 3em;
    font-weight: 100;

      z-index: 5;
}

.closeButton:before {
  font-family:Garamond,'Apple Garamond','Lucida Sans Unicode';
    content: "×";
}


.Grid {
  margin:0 auto;
  width:100%;
    height:100vh;
}

.PastEventsHead {
  font-family: 'NeuzeitS-Book';
  color:white;
  z-index: 5;
  text-align:center;
  font-family: 'NeuzeitS-Book';
  font-weight:300;
  font-size:3em;
  margin-top:0.6em;
  margin-bottom:0.4em;
}


.Column {
  padding: 1em;
  height:80vh;
}

.Row {
  margin:1em;
}

.pastEvents .hasHappenedItem:nth-last-child(1):after {
  visibility: hidden;
}

.pastEvents .hasHappenedItem .agendaDataInfo .expansionBox .expansionLinks .expansionContact {
  color:white;
}

.pastEvents .hasHappenedItem .agendaDataInfo .expansionBox .expansionLinks .expansionFacebook {
  color:white;
}


.pastEventsTransition-enter {
  opacity: 0.01;
}

.pastEventsTransition-enter.pastEventsTransition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.pastEventsTransition-leave {
  opacity: 1;
}

.pastEventsTransition-leave.pastEventsTransition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.pastEventsTransition-enter {
  opacity: 0.01;
}

.pastEventsTransition-enter.pastEventsTransition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.pastEventsTransition-leave {
  opacity: 1;
}

.pastEventsTransition-leave.pastEventsTransition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}



@media (max-width: 500px) {
  .pastEventsOverlay {

      width:100vw;

  }

}
