.pastEventsOverlay {
  background-color: #e01939;
    color:white;

  position: fixed;


    height: 100%;
    top: 0;
    width:34vw;
    right: 0;
    bottom: 0;
    display:flex;
    flex-direction:column;
}

.closeButton {

    top:0;
    right:0;
    cursor:pointer;
    color: #fff;
    position: fixed;
    line-height: 0.5em;

    font-size: 3em;
    font-weight: 100;

      z-index: 5;
}

.closeButton:before {
    content: "×";
}


.Grid {
  margin:0 auto;
  width:100%;
    height:100vh;
}



.PastEventsHead {
  padding: 0;
  height:10vh;
  color:white;
  z-index: 5;
  text-align:center;
  font-weight:300;
  font-size:4em;
}

.pastEvents {
  margin:1em;
  padding: 1em;
}

.Column {
  padding: 1em;
  height:80vh;

}

.Row {
  margin:1em;
}
