.Space {

}

.spacecontainer {
    width: 100%;
    /*height: 200px;*/
    margin: auto;
    /*padding: 10px;*/
}
.leftspacecontainer {
    width: 20%;
    height: 100%;
    float: left;
}
.rightspacecontainer {
    margin-left: 20%;
    height: 100%;
    border-style: solid;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom-color: #1E0689;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.spaceaddress {

}

.spaceurl {
  font-style:italic;
  color:#1E0689;
}


.spacename {
  font-weight: bold;
}

.loginButton {
  color:red;
  position:absolute;
  bottom:0;
  right:0;
}

.contactButton {
  color:red;
  position:absolute;
  top:0;
  right:0;
}

.pastEventsButton {
  color:red;
  position:absolute;
  top:2em;
  right:0;
}
