.SpaceParent {
  display:flex;
  flex-direction:column;
}

.spaceChild {
  display:flex;
  flex-direction:row;

  flex-grow: 1;
}

.spaceData {
  /*flex-grow: 1;*/
  /*padding:1%;
  margin-left: 2%;
  margin-right: 2%;*/
}

.spacecontainer {
    width: 100%;
    /*height: 200px;*/
    margin: auto;
    /*padding: 10px;*/
}
.leftspacecontainer {
  /*text-align: center;*/
  flex-basis:0;
  flex-grow: 3;
    width: 20%;
    height: 100%;
    float: left;
}
.rightspacecontainer {
  /*text-align: right;*/
  flex-basis:0;
  flex-grow: 9;
    /*margin-left: 20%;*/
    height: 100%;
    border-style: solid;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom-color: #1E0689;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.spaceaddress {

}

.spaceurl {
  font-style:italic;
  color:#1E0689;
}


.spacename {
  font-weight: bold;
}

.loginButton {
  color:#E6323D;
  position:fixed;
  bottom:2%;
  right:2%;
}


.loginButton:hover {
  font-weight:bold;
  color:#E6323D;
   text-decoration: none;
}

.contactButton {
  color:#E6323D;
  position:fixed;
  top:13%;
  right:2%;
}

.contactButton:hover {
  font-weight:bold;
}

.pastEventsButton:hover {
  font-weight:bold;
}

.pastEventsButton {
  color:#E6323D;
  position:fixed;
  top:15.5%;
  right:2%;
}
