.App {
  padding: 0;
  height:100vh;
  margin:0;
  width:100vw;
  display:flex;
  flex-direction:column;
  overflow:hidden;
}

.RowChildHead{
  display:flex;
  flex-direction:row;
  overflow:hidden;
  flex-basis:0;
  flex-grow: 1;
  width:100%;
}


.RowChildCol{
  display:flex;
  flex-direction:row;
  overflow:hidden;
  flex-basis:0;
  flex-grow: 9;
  width:100%;
}


::selection {
  background: #e01939; /* WebKit/Blink Browsers */

}
::-moz-selection {
  background: #e01939; /* Gecko Browsers */

}

.noPadMe {
  padding:0;
}

.ColumnChild {
  display:flex;
  flex-direction:column;
  height:100%;
  margin: 0;
  flex-basis:0;
  /*padding: 1em;*/
  flex-grow: 1;
  align-content:center;
  overflow:hidden;
}

.HeaderChild {
  padding: 0;
  text-align:center;
  font-weight:300;
  flex-grow: 1;
  margin:0;
  flex-basis:0;

}
.ComponentChild {
flex-basis:0;
  padding: 0;
  font-weight:400;
}

.ComponentChildAgenda {
  flex-basis:0;
    padding: 0;
    font-weight:400;
    overflow:auto;
    height:100%;
}

.ComponentChildSpaces {
  flex-basis:0;
    padding: 0;
    font-weight:400;
    overflow:auto;
    height:100%;
}

.HeaderChildMiddle {
  padding: 0;
  text-align:center;
  font-weight:300;
  flex-grow: 1;

  margin:0;
  flex-basis:0;
  background-color:#e01939;
  color:black;
}

@media only screen and (max-device-width: 500px) {


  .App {
    padding: 0;
    height:100vh;
    margin:0;
    width:100vw;
    display:flex;
    flex-direction:column;

  }

  .RowChildHead{
    display:flex;
    flex-direction:row;
    overflow:hidden;
    flex: 0 0 auto;
    width:100%;

  }

  .RowChildCol{
    display:flex;
    flex-wrap: nowrap;
    flex-direction:row;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /*flex-basis:0;
    flex-grow: 9;*/
    width:100%;
  }
  .ColumnChild {
    display:flex;
    flex-direction:column;
    height:100%;
    margin: 0;
    flex: 0 0 auto;
    align-content:center;
    overflow:hidden;
    width:100vw;
  }


.HeaderChildMiddle {
    padding: 0;
    text-align:center;
    font-weight:300;
    flex-grow: 1;

    margin:0;
    flex-basis:0;
    background-color:white;
    color:#2f3277;

}

  .HeaderChild {
    padding: 0;
    text-align:center;
    font-weight:300;
    flex-grow: 1;
    margin:0;
    flex-basis:0;

  }

}
