.App {
  padding: 0;
  height:100vh;
  margin:0;
  width:100vw;
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction:column;
  overflow:hidden;
  position: fixed;
  background-color: white;
  top:0;
  left:0;
}

.Landme{
  z-index:199;
  -webkit-flex-basis:0;
  flex-basis:0;
  -webkit-flex-grow:8;
  flex-grow: 8;
}

.redListItem {
  color:  #e01939;
  font-size:10vh;
}

.blueListItem {
  color: white;
  font-size:10vh;
}

.leftScrollOverlay{
  position: absolute;
  height:100%;
  top:0;

  width:33.34vw;
  left: 0;
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction:column;
  z-index: -1;
  overflow:auto;
  /*visibility:hidden;*/

}

.rightScrollOverlay{
  position: absolute;
  height:100%;
  top:0;

  width:33.34vw;
  right: 0;
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction:column;
  z-index: -1;
  overflow:auto;
  visibility:hidden;

}

.redTop{
  background-color: #e01939;
  width:33.34vw;
  -webkit-flex-grow:1;
  flex-grow: 1;
  flex-shrink: 0;
  min-height: min-content ;
}

.whiteBottom {
  background-color: white;
  width:33.34vw;
  -webkit-flex-grow:1;
  flex-grow: 1;
  flex-shrink: 0;
  min-height: min-content ;
}




.whiteTop {
  background-color: white;
  width:33.34vw;
  -webkit-flex-grow:1;
  flex-grow: 1;
  flex-shrink: 0;
  min-height: min-content ;
}

.redBottom{
  background-color: #e01939;
  width:33.34vw;
  -webkit-flex-grow:1;
  flex-grow: 1;
  flex-shrink: 0;
  min-height: min-content ;
}




.RowChildHead{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  overflow:hidden;
  -webkit-flex-basis:0;
  flex-basis:0;
  -webkit-flex-grow:1;
  flex-grow: 1;
  width:100%;
  background-color: white;
}


.RowChildCol{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  overflow:hidden;
  -webkit-flex-basis:0;
  flex-basis:0;
  -webkit-flex-grow:8;
  flex-grow: 8;
  width:100%;
    height:100%;
    background-color: white;
}


::selection {
  background: #e01939; /* WebKit/Blink Browsers */
  color:white;

}
::-moz-selection {
  background: #e01939; /* Gecko Browsers */
  color:white;

}

::-webkit-scrollbar {
    display: none;

}

.noPadMe {
  padding:0;
}

.ColumnChildLeft {
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction:column;
  height:89vh;
  margin: 0;
  -webkit-flex-basis:0;
  flex-basis:0;
  -webkit-flex-grow:3;
  flex-grow: 3;
  -webkit-align-content: center;
  align-content:center;
  overflow:hidden;
  position: relative;
}

.ColumnChildMiddle {
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction:column;
  height:89vh;
  margin: 0;
  -webkit-flex-basis:0;
  flex-basis:0;
  -webkit-flex-grow:3;
  flex-grow: 3;
  -webkit-align-content: center;
  align-content:center;
  overflow:hidden;
  position: relative;
}

.ColumnChildRight {
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction:column;
  height:89vh;
  margin: 0;
  -webkit-flex-basis:0;
  flex-basis:0;
  -webkit-flex-grow:3;
  flex-grow: 3;
  -webkit-align-content: center;
  align-content:center;
  overflow:hidden;
  position: relative;
}

.HeaderChild {
  padding: 0;
  text-align:center;
  font-weight:300;
  margin:0;
  -webkit-flex-basis:0;
  flex-basis:0;
  -webkit-flex-grow:1;
  flex-grow: 1;
  background-color:white;

}
.ComponentChild {
  -webkit-flex-basis:0;
  flex-basis:0;
  /*padding: 5%;*/
  font-weight:400;
}

.ComponentChildAgenda {
  -webkit-flex-basis:0;
  flex-basis:0;
    padding: 0;
    font-weight:400;
    overflow:hidden;
    height:100%;
}

.ComponentChildSpaces {
  -webkit-flex-basis:0;
  flex-basis:0;
    padding: 0;
    font-weight:400;
    overflow:auto;
    height:100%;

}

.HeaderChildMiddle {
  padding: 0;
  text-align:center;
  font-weight:300;
  -webkit-flex-basis:0;
  flex-basis:0;
  -webkit-flex-grow:1;
  flex-grow: 1;
  margin:0;
  background-color:#e01939;
  color:#0c0321;

}




.landingTransition-enter {
  opacity: 0.01;
}

.landingTransition-enter.landingTransition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.landingTransition-leave {

  height:100vh;

}


.landingTransition-leave.landingTransition-leave-active {

  height:0vh;

  transition: height 1300ms ease-out;

}


.contactButton {
  color:#e01939;
  position:absolute;
  top:2.5%;
  right:5%;
  font-size:  2.5vh;
  font-family: 'NeuzeitS-Book';
    z-index: 10;
}

.contactButton:hover {
  font-weight:bold;
}

.pastEventsButton:hover {
  font-weight:bold;
}

.pastEventsButton {
  color:#e01939;
  position:absolute;
  top:7.5%;
  right:5%;
  font-size:  2.5vh;
  font-family: 'NeuzeitS-Book';
    z-index: 10;
}

.loginButton {
  color:#e01939;
  position:absolute;
  bottom:3%;
  right:5%;
  font-size:  2.5vh;
  font-family: 'NeuzeitS-Book';
    z-index: 10;
}

.loginButton:hover {
  font-weight:bold;
  color:#e01939;
   text-decoration: none;
}

.futurLabel {
  color:#e01939;
  position:absolute;
  bottom:3%;
  right:5%;
  font-size:  2.5vh;
  font-family: 'NeuzeitS-Book';
    z-index: 10;
}

.currentLabel {
  color:white;
  position:absolute;
  top:2.5%;
  right:5%;
  font-size:  2.5vh;
  font-family: 'NeuzeitS-Book';
  z-index: 10;
}



.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}



@media only screen and (max-device-width: 500px) {


  .App {
    padding: 0;
    height:100vh;
    margin:0;
    width:100vw;
    display: -webkit-flex;
    display:flex;
    -webkit-flex-direction: column;
    flex-direction:column;

  }

  .leftScrollOverlay{
      visibility: hidden;
  }

  .rightScrollOverlay {
    visibility: hidden;
  }

  .RowChildHead{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    overflow:hidden;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width:100%;

  }

  .RowChildCol{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    width:100%;
    height:100%;
  }
  .ColumnChild {
    display: -webkit-flex;
    display:flex;
    -webkit-flex-direction: column;
    flex-direction:column;
    height:100%;
    margin: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-content: center;
    align-content:center;
    overflow:hidden;
    width:90vw;
  }


.HeaderChildMiddle {
    padding: 0;
    text-align:center;
    font-weight:300;
    -webkit-flex-basis:0;
    flex-basis:0;
    -webkit-flex-grow:1;
    flex-grow: 1;
    margin:0;
    background-color:white;
    color:#2f3277;

}

  .HeaderChild {
    padding: 0;
    text-align:center;
    font-weight:300;
    -webkit-flex-basis:0;
    flex-basis:0;
    -webkit-flex-grow:1;
    flex-grow: 1;
    margin:0;
  }
}
